# Use hoisted node_modules structure for React Native/CocoaPods compatibility
# This prevents "pathname contains null byte" errors in CocoaPods
# when running pod install in pnpm monorepos
# See: https://github.com/CocoaPods/CocoaPods/issues/12798
node-linker=hoisted
