{
    "swagger": "2.0",
    "info": {
        "title": "Pera Wallet API",
        "version": "v1"
    },
    "host": "mainnet.api.perawallet.app",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {},
    "paths": {
        "/v1/accounts/fast-lookup/{account_address}/": {
            "get": {
                "operationId": "v1_accounts_fast-lookup_read",
                "summary": "Quickly looks up account information and calculates asset values.",
                "description": "- Uses a limited number of assets for faster lookup.\n- calculation_type is \"exact\" if all assets are considered, otherwise \"min\"",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/FastAccountLookupResponseSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/names/bulk-read/": {
            "post": {
                "operationId": "v1_accounts_names_bulk-read_create",
                "summary": "Account Name Bulk Read",
                "description": "For every account address that is provided in the request body, account names are returned (if any).",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BulkAccountRequestSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ResponseSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": []
        },
        "/v1/accounts/should-refresh/": {
            "post": {
                "operationId": "v1_accounts_should-refresh_create",
                "summary": "Accounts Should Refresh\n(aka: Should Refresh V2)",
                "description": "Takes a list of account_address and last_know_round and returns if\nclient should refresh asset or position information for all of the provided accounts.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AccountsShouldRefreshSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AccountsShouldRefreshSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": []
        },
        "/v1/accounts/{account_address}/": {
            "get": {
                "operationId": "v1_accounts_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AccountDetailSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/assets/": {
            "get": {
                "operationId": "v1_accounts_assets_list",
                "description": "",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor value.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/AccountDetailAssetSerializer.Response"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/assets/{asset_id}/balance-history/": {
            "get": {
                "operationId": "v1_accounts_assets_balance-history_list",
                "summary": "Account Asset Balance History",
                "description": "Returns historical balance values of the asset for the account over the period.",
                "parameters": [
                    {
                        "name": "period",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "one-year",
                            "one-month",
                            "one-week",
                            "one-day"
                        ]
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "^[A-Z]{3}$",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "Portfolios"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/collectible-assets/": {
            "get": {
                "operationId": "v1_accounts_collectible-assets_list",
                "description": "Ordered by asset_id DESC.",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor value.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/AccountDetailCollectibleAssetSerializer.Response"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/created-collectible-assets/": {
            "get": {
                "operationId": "v1_accounts_created-collectible-assets_list",
                "description": "Ordered by asset_id DESC.",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor value.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/AccountDetailCollectibleAssetSerializer.Response"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/created-non-collectible-assets/": {
            "get": {
                "operationId": "v1_accounts_created-non-collectible-assets_list",
                "description": "Ordered by asset_id DESC.",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor value.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/AccountDetailNonCollectibleAssetSerializer.Response"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/export-history/": {
            "get": {
                "operationId": "v1_accounts_export-history_list",
                "summary": "Account History Export",
                "description": "This view returns a CSV file with a list of transactions that belong to an account address.\n\nReponse can be sorted according to the start_date and end_date.\nIf end-date is not provided, transactions starting from start_date until current date will be returned.\nYou can give the `asset_id` query parameter to filter transactions by asset. For ALGO, you need to give `asset_id=0`.\n\n`/v1/accounts/<account_address>/export-history/?start_date=2022-01-01&end_date=2022-02-02&asset_id=0`\n\n`/v1/accounts/<account_address>/export-history/?start_date=2022-01-01`\n\n`/v1/accounts/<account_address>/export-history/?asset_id=31566704`\n\n`/v1/accounts/<account_address>/export-history/`\n\nResponses are limited by 20.000 transactions.\n\nExample account that has more than the limit:\n\nMainnet\n`GULDQIEZ2CUPBSHKXRWUW7X3LCYL44AI5GGSHHOQDGKJAZ2OANZJ43S72U`\n\nTestnet\n`RPQ3URDWR3XEWCN6X3FHRNA6EPTZG2HX224PAPOL5LPEZFNE2F7H6PDIW4`",
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "asset_id",
                        "in": "query",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV Headers:\n\nDate - Group ID - Transaction ID - Asset Name - Asset ID - Transfer Amount - Transaction Fees - Transfer Amount (as text) - Transaction Fees (as text) - From: Address - To: Address - Round - Transaction Type - Note - Application ID"
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/names/": {
            "get": {
                "operationId": "v1_accounts_names_list",
                "summary": "Account Names View",
                "description": "Returns a list of names of an account.",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/NFDomainLookupResponseSerializer.Response"
                            }
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/names/{name}/": {
            "get": {
                "operationId": "v1_accounts_names_read",
                "summary": "Account Name Detail View",
                "description": "Returns details of name attached to the account if exists.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/SimpleNFDomainLookupResponseSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/non-collectible-assets/": {
            "get": {
                "operationId": "v1_accounts_non-collectible-assets_list",
                "description": "Pages are ordered by asset `amount` DESC. This means *not* guarantees the USD value of assets is\nbigger than the USD value of assets on the next page. Only guarantees owned amounts are bigger.\n\nBut every page is sorted by USD value in itself (aka balance_usd_value).",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor value.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/AccountDetailNonCollectibleAssetSerializer.Response"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/overview/": {
            "get": {
                "operationId": "v1_accounts_overview_list",
                "summary": "Account Overview (implemented with Kevin)",
                "description": "Provides an overview of a single account_address.\n\n`/v1/accounts/<account_address>/kevin/overview/`\n\nQuery parameter 'last_known_round' can be used to prevent running queries if no new transactions are available between the last_known_round and the current.\n\nIf the difference between the last_known_round and the current is larger than 50, view will fetch the new information.\n\nIf the difference between the last_known_round and the current is less than 50, and there are no new transactions in between, view will return 304.\n\n`/v1/accounts/<account_address>/kevin/overview/?last_known_round=20202020`",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AccountOverview"
                        }
                    },
                    "304": {
                        "description": "Not Modified"
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/staking-rewards/": {
            "get": {
                "operationId": "v1_accounts_staking-rewards_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AccountStakingRewardsSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Accounts"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/accounts/{account_address}/wealth/": {
            "get": {
                "operationId": "v1_accounts_wealth_list",
                "description": "",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "one-year",
                            "one-month",
                            "one-week",
                            "one-day"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AccountWealthHistorySerializer.Response"
                            }
                        }
                    }
                },
                "tags": [
                    "Portfolios"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/algorand-indexer/should-refresh/": {
            "post": {
                "operationId": "v1_algorand-indexer_should-refresh_create",
                "summary": "Should Refresh",
                "description": "Takes a list of account_address and last_know_round.\nChecks if any of the accounts has new transactions since the last_know_round.\nImplemented with algorand indexer.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ShouldRefreshViewRequestBodySerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    }
                },
                "tags": [
                    "Algorand Indexer"
                ]
            },
            "parameters": []
        },
        "/v1/applications/{application_id}/": {
            "get": {
                "operationId": "v1_applications_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ApplicationSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Projects"
                ]
            },
            "parameters": [
                {
                    "name": "application_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/v1/asa-inboxes/requests/": {
            "get": {
                "operationId": "v1_asa-inboxes_requests_list",
                "summary": "ASA Inbox Request",
                "description": "Example\n\n`/v1/asa-inboxes/requests/?addresses=522JRPT2F5IE3VLN47TEJ5BMNJU5BQHYV4MKXGRUKDUMMACIZ72VUWLFWI,EVIY2PYYACKGGSL7TGNXOIGZ3U6M4FMOU4VQWS4IPZJTME3VYBOUSNEAKM`\n\n`addresses`: one or more account addresses delimited with `,`.\n\nresources.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ASAInboxList"
                        }
                    }
                },
                "tags": [
                    "Asa Inboxes"
                ]
            },
            "parameters": []
        },
        "/v1/asa-inboxes/requests/{account_address}/": {
            "get": {
                "operationId": "v1_asa-inboxes_requests_read",
                "description": "",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor value.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Reponse"
                        }
                    }
                },
                "tags": [
                    "Asa Inboxes"
                ]
            },
            "parameters": [
                {
                    "name": "account_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/asa-inboxes/summary/send-flow/{receiver_address}/{asset_id}/": {
            "get": {
                "operationId": "v1_asa-inboxes_summary_send-flow_read",
                "description": "",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ASAInboxSendFlowSummaryResponse"
                        }
                    }
                },
                "tags": [
                    "Asa Inboxes"
                ]
            },
            "parameters": [
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "receiver_address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/asset-requests/": {
            "post": {
                "operationId": "v1_asset-requests_create",
                "summary": "Create Asset Request",
                "description": "This view keeps sender, receiver, and asset information and notifies the receiver that the sender wants to send this asset to you.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AssetRequestSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AssetRequestSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": []
        },
        "/v1/asset-verifications/{asset_id}/": {
            "get": {
                "operationId": "v1_asset-verifications_read",
                "summary": "Asset Verification Detail",
                "description": "This public endpoint returns `Asset` verification information about a specific `ASA`\non the Algorand blockchain. This is the recommended public API for fetching the\nverification status of an `ASA` from Pera. More details about the verification\nprogram can be found here: https://explorer.perawallet.app/asa-verification/",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PublicAssetVerificationDetailSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Public Deprecated"
                ],
                "deprecated": true
            },
            "parameters": [
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/v1/assets/": {
            "get": {
                "operationId": "v1_assets_list",
                "summary": "Asset List",
                "description": "Returns assets.\n\nThe page size can be updated with the `limit` query parameter.\n\n`/v1/assets/?q=algo` This \"q\" query parameter is used to filter assets that contain the pattern in its name or asset ID.\n\n`/v1/assets/?asset_ids=1,2,3` Filters assets by provided assets' id. It only supports up to 1000 IDs.\n\n`/v1/assets/?status=verified` lists verified assets.\n\n`/v1/assets/?status=unverified` lists unverified assets.\n\nIf a status query parameter is not given it will return all assets.",
                "parameters": [
                    {
                        "name": "has_collectible",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "available_on_discover_mobile",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "asset_ids",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_deleted",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor value.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/AssetSerializer.Response"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": []
        },
        "/v1/assets/price-chart/": {
            "get": {
                "operationId": "v1_assets_price-chart_list",
                "summary": "Asset Price Chart",
                "description": "Returns dynamically aggregated price data for the specified period and asset.",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "one-year",
                            "one-month",
                            "one-week",
                            "one-day"
                        ]
                    },
                    {
                        "name": "asset_id",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AssetPriceChartSerializer.Response"
                            }
                        }
                    }
                },
                "tags": [
                    "Portfolios"
                ]
            },
            "parameters": []
        },
        "/v1/assets/search/": {
            "get": {
                "operationId": "v1_assets_search_list",
                "description": "",
                "parameters": [
                    {
                        "name": "has_collectible",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "available_on_discover_mobile",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor value.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/AssetSearchSerializer.Response"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": []
        },
        "/v1/assets/{asset_id}/": {
            "get": {
                "operationId": "v1_assets_read",
                "summary": "Asset Detail",
                "description": "This endpoint returns `Asset` information about a specific `ASA` on the Algorand blockchain.\nIt also includes `Collectible` information when applicable. This is the recommended public\nAPI for fetching the verification status of an `ASA` from Pera. More details about the\nverification program can be found here: https://explorer.perawallet.app/asa-verification/",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AssetDetailSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": [
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/v1/backups/": {
            "post": {
                "operationId": "v1_backups_create",
                "summary": "Backup Create",
                "description": "Creates a backup object.\n\n**Save the returned `modification_key` and keep it safe.\nYou will only be able to update the backup object if you have the `modification_key`.**",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BackupCreateSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/BackupCreateSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Backups"
                ]
            },
            "parameters": []
        },
        "/v1/backups/{id}/": {
            "get": {
                "operationId": "v1_backups_read",
                "summary": "Backup Detail",
                "description": "Returns the backup object with the given `id`.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/BackupRetrieveUpdateDestroySerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Backups"
                ]
            },
            "put": {
                "operationId": "v1_backups_update",
                "summary": "Backup Update",
                "description": "Updates the `encrypted_content` of the backup object with the given `id`.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BackupRetrieveUpdateDestroySerializer.Request"
                        }
                    },
                    {
                        "name": "X-Modification-Key",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/BackupRetrieveUpdateDestroySerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Backups"
                ]
            },
            "patch": {
                "operationId": "v1_backups_partial_update",
                "summary": "Backup Partial Update",
                "description": "Updates the `encrypted_content` of the backup object with the given `id`.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BackupRetrieveUpdateDestroySerializer.Request"
                        }
                    },
                    {
                        "name": "X-Modification-Key",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/BackupRetrieveUpdateDestroySerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Backups"
                ]
            },
            "delete": {
                "operationId": "v1_backups_delete",
                "summary": "Backup Delete",
                "description": "Deletes the backup object with the given `id`.",
                "parameters": [
                    {
                        "name": "X-Modification-Key",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Backups"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A UUID string identifying this backup.",
                    "required": true,
                    "type": "string",
                    "format": "uuid"
                }
            ]
        },
        "/v1/cards/country-availability-request/": {
            "get": {
                "operationId": "v1_cards_country-availability-request_list",
                "description": "Checks if a user is waitlisted based on device ID and/or address.\n\nWhen both parameters are provided, they're combined with AND logic - records must match both criteria.\nAt least one parameter must be provided.",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "minLength": 1
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "minLength": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/WaitlistResponseSerializer.Response"
                        }
                    },
                    "400": {
                        "description": "Either device_id or address must be provided"
                    }
                },
                "tags": [
                    "Cards"
                ]
            },
            "post": {
                "operationId": "v1_cards_country-availability-request_create",
                "description": "Creates a new country availability request (waitlist entry).\n\nEither 'device' or 'address' must be provided, and 'alpha_2_country_code' is always required.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImmersveCountryAvailabilityRequestSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ImmersveCountryAvailabilityRequestSerializer.Response"
                        }
                    },
                    "400": {
                        "description": "Validation error - either device/address missing or country code invalid"
                    }
                },
                "tags": [
                    "Cards"
                ]
            },
            "parameters": []
        },
        "/v1/cards/fund-address/{address}/": {
            "put": {
                "operationId": "v1_cards_fund-address_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImmersveFundAddressUpdateSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ImmersveFundAddressUpdateSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Cards"
                ]
            },
            "patch": {
                "operationId": "v1_cards_fund-address_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImmersveFundAddressUpdateSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ImmersveFundAddressUpdateSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Cards"
                ]
            },
            "parameters": [
                {
                    "name": "address",
                    "in": "path",
                    "description": "A unique value identifying this immersve fund address.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/cards/fund-addresses/": {
            "get": {
                "operationId": "v1_cards_fund-addresses_list",
                "description": "",
                "parameters": [
                    {
                        "name": "addresses",
                        "in": "query",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "minLength": 1
                        },
                        "maxItems": 200
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "Cards"
                ]
            },
            "parameters": []
        },
        "/v1/cards/spend-prize/": {
            "get": {
                "operationId": "v1_cards_spend-prize_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "Cards"
                ]
            },
            "parameters": []
        },
        "/v1/cards/supported-countries/": {
            "get": {
                "operationId": "v1_cards_supported-countries_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "Cards"
                ]
            },
            "parameters": []
        },
        "/v1/collectible/{asset_id}/sales/graph/": {
            "get": {
                "operationId": "v1_collectible_sales_graph_list",
                "summary": "Collectible Sales Graph",
                "description": "Returns collectible sales history graph over a period",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "asset_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "one-year",
                            "one-month",
                            "one-week",
                            "one-day"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CollectibleSalesGraphSerializer.Response"
                            }
                        }
                    }
                },
                "tags": [
                    "Collectibles"
                ]
            },
            "parameters": [
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/collection/{slug}/sales/graph/": {
            "get": {
                "operationId": "v1_collection_sales_graph_list",
                "summary": "Collection Sales Graph",
                "description": "Returns collectible sales history graph over a period",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "slug",
                        "pattern": "^[-a-zA-Z0-9_]+$"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "one-year",
                            "one-month",
                            "one-week",
                            "one-day"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CollectibleSalesGraphSerializer.Response"
                            }
                        }
                    }
                },
                "tags": [
                    "Collectibles"
                ]
            },
            "parameters": [
                {
                    "name": "slug",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/countries/current-country/": {
            "get": {
                "operationId": "v1_countries_current-country_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CountryDetailItem"
                        }
                    }
                },
                "tags": [
                    "Countries"
                ]
            },
            "parameters": []
        },
        "/v1/currencies/": {
            "get": {
                "operationId": "v1_currencies_list",
                "description": "",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CurrencySerializer.Response"
                            }
                        }
                    }
                },
                "tags": [
                    "Currencies"
                ]
            },
            "parameters": []
        },
        "/v1/currencies/{currency_id}/": {
            "get": {
                "operationId": "v1_currencies_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CurrencyDetailSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Currencies"
                ]
            },
            "parameters": [
                {
                    "name": "currency_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/": {
            "post": {
                "operationId": "v1_devices_create",
                "summary": "Create & Delete Device View",
                "description": "`push_token` needs to be sent to delete the device.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeviceSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DeviceSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "delete": {
                "operationId": "v1_devices_delete",
                "summary": "Create & Delete Device View",
                "description": "`push_token` needs to be sent to delete the device.",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": []
        },
        "/v1/devices/{device_id}/": {
            "put": {
                "operationId": "v1_devices_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeviceSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DeviceSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "patch": {
                "operationId": "v1_devices_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeviceSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DeviceSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": [
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/accounts/{address}/": {
            "put": {
                "operationId": "v1_devices_accounts_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeviceAccountSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DeviceAccountSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "patch": {
                "operationId": "v1_devices_accounts_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeviceAccountSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DeviceAccountSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": [
                {
                    "name": "address",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/assets/{asset_id}/add-to-favorites/": {
            "post": {
                "operationId": "v1_devices_assets_add-to-favorites_create",
                "summary": "Add Asset to Favorites",
                "description": "This device authenticated endpoint is for adding to favorites.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FavoriteAssetSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/FavoriteAssetSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": [
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                },
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/assets/{asset_id}/add-to-price-watch-assets/": {
            "post": {
                "operationId": "v1_devices_assets_add-to-price-watch-assets_create",
                "summary": "Add Asset to Price Watch Assets",
                "description": "This device authenticated endpoint is for adding to price watch list.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PriceWatchAssetSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PriceWatchAssetSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": [
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                },
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/assets/{asset_id}/favorite-status/": {
            "get": {
                "operationId": "v1_devices_assets_favorite-status_list",
                "summary": "Asset Favorite Status",
                "description": "This device authenticated endpoint returns just is asset favorite or not for the authenticated device.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": [
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/assets/{asset_id}/price-watch-asset-status/": {
            "get": {
                "operationId": "v1_devices_assets_price-watch-asset-status_list",
                "summary": "Price Watch Asset Status",
                "description": "This device authenticated endpoint returns just is price watch asset or not for the authenticated device.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": [
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/assets/{asset_id}/remove-from-favorites/": {
            "post": {
                "operationId": "v1_devices_assets_remove-from-favorites_create",
                "summary": "Remove Asset from Favorites",
                "description": "This device authenticated endpoint is for removing from favorites.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FavoriteAssetSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/FavoriteAssetSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": [
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                },
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/assets/{asset_id}/remove-from-price-watch-assets/": {
            "post": {
                "operationId": "v1_devices_assets_remove-from-price-watch-assets_create",
                "summary": "Remove Asset from Price Watch Assets",
                "description": "This device authenticated endpoint is for removing from price watch list.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PriceWatchAssetSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PriceWatchAssetSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": [
                {
                    "name": "asset_id",
                    "in": "path",
                    "required": true,
                    "type": "integer"
                },
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/banners/": {
            "get": {
                "operationId": "v1_devices_banners_list",
                "description": "",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DeviceBannersView"
                        }
                    }
                },
                "tags": [
                    "Banners"
                ]
            },
            "parameters": [
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/favorite-asset-ids/": {
            "get": {
                "operationId": "v1_devices_favorite-asset-ids_list",
                "summary": "Device's Favorite Asset IDs",
                "description": "This device authenticated endpoint returns favorited asset ids for the authenticated device.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": [
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/features/": {
            "get": {
                "operationId": "v1_devices_features_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/FeatureFlagResponseSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": [
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/notification-status/": {
            "get": {
                "operationId": "v1_devices_notification-status_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DeviceNotificationStatusSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": [
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/notifications/": {
            "get": {
                "operationId": "v1_devices_notifications_list",
                "description": "",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor value.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/NotificationV2Serializer.Response"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": [
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/price-watch-asset-ids/": {
            "get": {
                "operationId": "v1_devices_price-watch-asset-ids_list",
                "summary": "Device's Price Watch Asset IDs",
                "description": "This device authenticated endpoint returns price watch asset ids for the authenticated device.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "Assets"
                ]
            },
            "parameters": [
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/spot-banners/": {
            "get": {
                "operationId": "v1_devices_spot-banners_list",
                "description": "",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Which field to use when ordering the results.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SpotBannerSerializer.Response"
                            }
                        }
                    }
                },
                "tags": [
                    "Spot Banners"
                ]
            },
            "parameters": [
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/spot-banners/{spot_banner_id}/close/": {
            "patch": {
                "operationId": "v1_devices_spot-banners_close_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SpotBannerSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/SpotBannerSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Spot Banners"
                ]
            },
            "parameters": [
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "spot_banner_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/devices/{device_id}/update-last-seen-notification/": {
            "put": {
                "operationId": "v1_devices_update-last-seen-notification_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateDeviceLastSeenNotificationSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateDeviceLastSeenNotificationSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "patch": {
                "operationId": "v1_devices_update-last-seen-notification_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateDeviceLastSeenNotificationSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateDeviceLastSeenNotificationSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": [
                {
                    "name": "device_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/v1/dex-swap/available-assets/": {
            "get": {
                "operationId": "v1_dex-swap_available-assets_list",
                "summary": "Available Assets",
                "description": "`asset_in_id` is `0` for Algo.\n\nAlgo might be returned in the response with `asset_id = 0` just like other assets.",
                "parameters": [
                    {
                        "name": "asset_in_id",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "minLength": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AvailableAssetsView"
                        }
                    },
                    "503": {
                        "description": "One of the requested providers is unavailable."
                    }
                },
                "tags": [
                    "Dex Swap"
                ]
            },
            "parameters": []
        },
        "/v1/dex-swap/calculate-pera-fee/": {
            "post": {
                "operationId": "v1_dex-swap_calculate-pera-fee_create",
                "summary": "Calculate Pera Fee",
                "description": "Calculates and returns the maximum possible fee amount that Pera might take in micro Algos.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CalculatePeraFeeSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CalculatePeraFeeSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Dex Swap"
                ]
            },
            "parameters": []
        },
        "/v1/dex-swap/prepare-transactions/": {
            "post": {
                "operationId": "v1_dex-swap_prepare-transactions_create",
                "summary": "Prepare Transactions",
                "description": "`transactions`: List of `msgpack` encoded transactions that need to be signed by user to be able to complete the swap operation.\n\n`signed_transactions`: List of `msgpack` encoded signed transactions that need to be sent to the node to be able to complete the swap operation.\n\nNote that `transactions[i]` is the unsigned version of `signed_transactions[i]`. If `signed_transactions[i]` is `null`,\n`transactions[i]` needs to be signed by the user and replaced with `signed_transactions[i]`.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PrepareTransactionsSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PrepareTransactionsSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Dex Swap"
                ]
            },
            "parameters": []
        },
        "/v1/dex-swap/quotes/": {
            "post": {
                "operationId": "v1_dex-swap_quotes_create",
                "summary": "Create Quotes",
                "description": "`asset_in|out_id` is `0` for Algo.\n\nAlgo might be returned in the response with `asset_id = 0` just like other assets.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateQuoteSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CreateQuotesView"
                        }
                    },
                    "503": {
                        "description": "One of the requested providers is unavailable."
                    }
                },
                "tags": [
                    "Dex Swap"
                ]
            },
            "parameters": []
        },
        "/v1/dex-swap/quotes/{quote_id}/": {
            "put": {
                "operationId": "v1_dex-swap_quotes_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/QuoteUpdateSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/QuoteUpdateSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Dex Swap"
                ]
            },
            "patch": {
                "operationId": "v1_dex-swap_quotes_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/QuoteUpdateSerializer.Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/QuoteUpdateSerializer.Response"
                        }
                    }
                },
                "tags": [
                    "Dex Swap"
                ]
            },
            "parameters": [
                {
                    "name": "quote_id",
[...]
