// Dev.xcconfig
// Development environment configuration

#include "Shared.xcconfig"
#include "Pods/Target Support Files/Pods-pera/Pods-pera.debug.xcconfig"

// App Identity
PRODUCT_BUNDLE_IDENTIFIER = com.algorandllc.perarn.dev
PRODUCT_NAME = Pera Dev

// Environment Variable for Config Package
APP_ENV = development

// Display Name
DISPLAY_NAME = Pera Dev

// Code Signing
DEVELOPMENT_TEAM = $(APPLE_TEAM_ID)
CODE_SIGN_IDENTITY = Apple Development

// Provisioning Profile
PROVISIONING_PROFILE_SPECIFIER = match Development com.algorandllc.perarn.dev
