name: QA Build

on:
  pull_request:
    branches:
      - main
    types: [closed]
  workflow_dispatch:

jobs:
  ios-staging:
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    name: iOS Staging (QA)
    uses: ./.github/workflows/reusable-ios.yml
    with:
      environment: staging
      scheme: Pera-Staging
      notification_title_prefix: "QA Build"
      use_cache: true
    secrets: inherit

  # ios-production:
  #   name: iOS Production (QA)
  #   if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
  #   uses: ./.github/workflows/reusable-ios.yml
  #   with:
  #     environment: production
  #     scheme: Pera-Production
  #     notification_title_prefix: "QA Build"
  #     use_cache: true
  #   secrets: inherit

  android-staging:
    needs: ios-staging
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    name: Android Staging (QA)
    uses: ./.github/workflows/reusable-android.yml
    with:
      environment: staging
      flavor: staging
      notification_title_prefix: "QA Build"
      use_cache: true
    secrets: inherit

  # android-production:
  #   name: Android Production (QA)
  #   if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
  #   uses: ./.github/workflows/reusable-android.yml
  #   with:
  #     environment: production
  #     flavor: production
  #     notification_title_prefix: "QA Build"
  #     use_cache: true
  #   secrets: inherit
