name: Release Build

on:
# TODO: Re-enable when we're ready to start releasing
#   push:
#     branches:
#       - 'release/**'
#     tags:
#       - 'v*'
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Config Generate
        env:
          PERA_MAINNET_BACKEND_URL: ${{ secrets.MAINNET_BACKEND_URL }}
          PERA_TESTNET_BACKEND_URL: ${{ secrets.TESTNET_BACKEND_URL }}
          PERA_BACKEND_API_KEY: ${{ secrets.BACKEND_API_KEY }}
          PERA_ALGOD_API_KEY: ${{ secrets.ALGOD_API_KEY }}
          PERA_INDEXER_API_KEY: ${{ secrets.INDEXER_API_KEY }}
          PERA_MAINNET_ALGOD_URL: ${{ secrets.MAINNET_ALGOD_URL }}
          PERA_TESTNET_ALGOD_URL: ${{ secrets.TESTNET_ALGOD_URL }}
          PERA_MAINNET_INDEXER_URL: ${{ secrets.MAINNET_INDEXER_URL }}
          PERA_TESTNET_INDEXER_URL: ${{ secrets.TESTNET_INDEXER_URL }}
        run: pnpm run build:packages --filter=@perawallet/wallet-core-config

      - name: Test
        run: pnpm run test

  ios-staging:
    name: iOS Staging (RC)
    needs: test
    uses: ./.github/workflows/reusable-ios.yml
    with:
      environment: staging
      scheme: Pera-Staging
      notification_title_prefix: "Release Candidate"
    secrets: inherit

  ios-production:
    name: iOS Production (RC)
    needs: test
    uses: ./.github/workflows/reusable-ios.yml
    with:
      environment: production
      scheme: Pera-Production
      notification_title_prefix: "Release Candidate"
    secrets: inherit

  android-staging:
    name: Android Staging (RC)
    needs: test
    uses: ./.github/workflows/reusable-android.yml
    with:
      environment: staging
      flavor: staging
      notification_title_prefix: "Release Candidate"
    secrets: inherit

  android-production:
    name: Android Production (RC)
    needs: test
    uses: ./.github/workflows/reusable-android.yml
    with:
      environment: production
      flavor: production
      notification_title_prefix: "Release Candidate"
    secrets: inherit
